<!DOCTYPE html>
<!-- saved from url=(0081)https://v5.inspection.in.th/inspectionreport/checkqr?id=1541844&password=f45681f1 -->
<html lang="en"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Login Form</title>
  <style>
  html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.about {
  margin: 70px auto 40px;
  padding: 8px;
  width: 260px;
  font: 10px/18px 'Lucida Grande', Arial, sans-serif;
  color: #666;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  background: #eee;
  background: rgba(250, 250, 250, 0.8);
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
}
.about a {
  color: #333;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}
.about a:hover {
  text-decoration: none;
  background: #fafafa;
  background: rgba(255, 255, 255, 0.7);
}

.about-links {
  height: 30px;
}
.about-links > a {
  float: left;
  width: 50%;
  line-height: 30px;
  font-size: 12px;
}

.about-author {
  margin-top: 5px;
}
.about-author > a {
  padding: 1px 3px;
  margin: 0 -1px;
}

/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */
body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #0ca3d2;
}

.container {
  margin: 80px auto;
  width: 640px;
}

.login {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 500px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.login h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}
.login p {
  margin: 20px 0 0;
}
.login p:first-child {
  margin-top: 0;
}
.login input[type=text], .login input[type=password] {
  width: 278px;
}
.login p.remember_me {
  float: left;
  line-height: 31px;
}
.login p.remember_me label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.login p.submit {
  text-align: right;
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;
}
.login-help a {
  color: #cce7fa;
  text-decoration: none;
}
.login-help a:hover {
  text-decoration: underline;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px;
}
</style>
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
  <section class="container">
    <div class="login">
      <table class="table table-striped table-bordered">
			<tbody>	
                {{#if nothing}}
					<tr>
						<td width="100%" class="label-view text-right">ไม่มีข้อมูล</td>
					</tr>
                {{else}}
					<tr>
						<td width="70%" class="label-view text-right">เลขทะเบียน</td>
                        <td>{{obj.number}}</td>
						
					</tr>
				
					<tr>
						<td width="70%" class="label-view text-right">ผลการตรวจ</td>
                        <td>{{t obj.result_check}}</td>
						
					</tr>
				
					<tr>
						<td width="70%" class="label-view text-right">ลำดับการตรวจ</td>
                        <td>{{obj.sequence_check}}</td>
						
					</tr>
				
					<tr>
						<td width="70%" class="label-view text-right">เวลาที่ตรวจ</td>
                        <td>{{obj.date}}</td>
						
					</tr>
				
					<tr>
						<td width="70%" class="label-view text-right">เลขที่ใบอนุญาต</td>
                        <td>{{obj.number_perm}}</td>
						
					</tr>
				
					<tr>
						<td width="70%" class="label-view text-right">ชื่อสถานตรวจสภาพรถ</td>
                        <td>{{obj.location}}</td>
						
					</tr>
				
					<tr>
						<td width="70%" class="label-view text-right">ผู้ได้รับใบอนุญาต</td>
                        <td>{{obj.owner_perm}}</td>
						
					</tr>
				
					<tr>
						<td width="70%" class="label-view text-right">วันที่จดทะเบียน</td>
                        <td>{{obj.date_register}}</td>
						
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ประเภท รย.</td>
                        <td>{{obj.type_car_id.1.}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">หมายเลขเครื่องยนต์</td>
                        <td>{{obj.license_car}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">แรงห้ามล้อ เพลา 1 ช้าย</td>
                        <td>{{obj.brake_force1_shaft_left}}</td>
					</tr>
				
					<tr>
						<td width="70%" class="label-view text-right">แรงห้ามล้อ เพลา 1 ขวา</td>
                        <td>{{obj.brake_force1_shaft_right}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">แรงห้ามล้อ เพลา 2 ช้าย</td>
                        <td>{{obj.brake_force2_shaft_left}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">แรงห้ามล้อ เพลา 2 ขวา</td>
                        <td>{{obj.brake_force2_shaft_left}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">แรงห้ามล้อ เพลา 3 ช้าย</td>
                        <td>{{obj.brake_force3_shaft_right}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">แรงห้ามล้อ เพลา 3 ขวา</td>
                        <td>{{obj.brake_force3_shaft_left}}</td>
						
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">แรงห้ามล้อ เพลา 4 ช้าย</td>
                        <td>{{obj.brake_force4_shaft_left}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">แรงห้ามล้อ เพลา 4 ขวา</td>
                        <td>{{obj.brake_force4_shaft_right}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">น้ำหนักลงเพลา 1</td>
                        <td>{{obj.weight_shaft1}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">น้ำหนักลงเพลา 2</td>
                        <td>{{obj.weight_shaft2}}</td>
						
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">น้ำหนักลงเพลา 3</td>
                        <td>{{obj.weight_shaft3}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">น้ำหนักลงเพลา 4</td>
                        <td>{{obj.diff_shaft4}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ผลต่าง เพลา 1</td>
                        <td>{{obj.diff_shaft2}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ผลต่าง เพลา 2</td>
                        <td>{{obj.diff_shaft2}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ผลต่าง เพลา 3</td>
                        <td>{{obj.diff_shaft3}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ผลต่าง เพลา 4</td>
                        <td>{{obj.diff_shaft4}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">แรงห้ามล้อ ซ้าย</td>
                        <td>{{obj.brake_force_left}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">แรงห้ามล้อ ขวา</td>
                        <td>{{obj.brake_force_right}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ประสิทธิภาพห้ามล้อ</td>
                        <td>{{obj.wheel}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ประสิทธิภาพห้ามล้อมือ</td>
                        <td>{{obj.result_diff}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ศูนย์ล้อ</td>
                        <td>{{obj.result_break}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ผลความแตกต่าง</td>
                        <td>{{obj.result_break_hand}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ผลเบรค</td>
                        <td>{{obj.result_wheel}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ผลเบรคมือ</td>
                        <td>{{obj.result_sound}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ผลศูนย์ล้อ</td>
                        <td>{{obj.result_pullution}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ผลระดับเสียง</td>
                        <td>{{obj.result_horn}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ผลมลพิษจากไอเสีย</td>
                        <td>{{obj.result_speedmotor}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ผลแตรสัญญาณ</td>
                        <td>{{obj.result_lamp_light}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ผลเครื่องวัดความเร็ว</td>
                        <td>{{obj.result_turn_lamp}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ผลโคมไฟพุ่งไกล โคมไฟพุ่งต่ำ</td>
                        <td>{{obj.result_glass}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ผลโคมไฟเลี้ยว โคมไฟป้าย โคมไฟหยุด </td>
                        <td>{{obj.result_steering}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">โคมไฟส่องป้ายทะเบียน โคมไฟอื่นๆ</td>
                        <td>{{obj.result_wheel_tires}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">กระจกกันลมหน้า-หลังและส่วนที่เป็นกระจก</td>
                        <td>{{obj.result_tank_pipe}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ระบบบังคับเลี้ยวและพวงมาลัย</td>
                        <td>{{obj.result_lower_part}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ล้อและยาง</td>
                        <td>{{obj.result_chassis}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ถังเชื้อเพลิง และท่อส่ง</td>
                        <td>{{obj.result_door_floor}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">เครื่องล่าง</td>
                        <td>{{obj.result_lower_part}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">สภาพตัวถังและโครงรถ</td>
                        <td>{{obj.result_chassis}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ประตูและพื้นรถ</td>
                        <td>{{obj.result_door_floor}}</td>
					</tr>
				
					<tr>
						<td width="70%" class="label-view text-right">เข็มขัดนิรภัย</td>
                        <td>{{obj.result_belt}}</td>
						
					</tr>
				
					<tr>
						<td width="70%" class="label-view text-right">เครื่องปัดน้ำฝน</td>
                        <td>{{obj.result_wiper_motor}}</td>
						
					</tr>
				
					<tr>
						<td width="70%" class="label-view text-right">อื่นๆ</td>
                        <td>{{obj.result_other}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ค่าเครื่องวัดเสียง</td>
                        <td>{{obj.value_volume_level}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ค่าไอเสีย</td>
                        <td>{{obj.value_emission}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ค่า CO</td>
                        <td>{{obj.value_co}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ค่า HC</td>
                        <td>{{obj.value_hc}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ผู้ตรวจที่ 1</td>
                        <td>{{obj.audit_first}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ผู้ตรวจที่ 2</td>
                        <td>{{obj.audit_second}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ค่าโคมไฟพุ่งไกล ด้านซ้าย</td>
                        <td>{{obj.value_light_far_left}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ค่าโคมไฟพุ่งไกล ด้านขวา</td>
                        <td>{{obj.value_light_far_right}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ค่าโคมไฟพุ่งต่ำ ด้านซ้าย</td>
                        <td>{{obj.value_light_low_left}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ค่าโคมไฟพุ่งต่ำ ด้านขวา</td>
                        <td>{{obj.value_light_low_right}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ตำแหน่งโคมไฟพุ่งไกล ด้านซ้าย</td>
                        <td>{{obj.position_light_far_left}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ตำแหน่งโคมไฟพุ่งไกล ด้านขวา</td>
                        <td>{{obj.position_light_far_right}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ตำแหน่งโคมไฟพุ่งต่ำ ด้านซ้าย</td>
                        <td>{{obj.position_light_low_left}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ตำแหน่งโคมไฟพุ่งต่ำ ด้านขวา</td>
                        <td>{{obj.position_light_low_right}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">IP ADDRESS</td>
                        <td>{{obj.ip_address}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">MAC ADDRESS</td>
                        <td>{{obj.max_address}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ชื่อ ตรอ.</td>
                        <td>{{obj.name_tr_au}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ระยะทางวิ่ง</td>
                        <td>{{obj.total_distance}}</td>
					</tr>
				
				<!--
					<tr>
						<td width='70%' class='label-view text-right'>ตรวจด้วย Muller</td>
						<td>ไม่ใช่  </td>
						
					</tr>  -->
				
					<tr>
						<td width="70%" class="label-view text-right">รูปภาพ</td>
						<td>
                            <p>
                        {{#if obj.image}}
                            <a href="/static/db/inspect/files/{{obj.image}}" target="_blank" class="previewImage">
                            <img src="/static/db/inspect/files/{{obj.image}}" border="0" width="50"></a></p> </td>
                        {{else}}
                            <img src="/static/inspect/img/no-image.png" border="0" width="50"></a></p> </td>
                        {{/if}}
					</tr>
				
					<tr>
						<td width="70%" class="label-view text-right">ประเภทระยะทาง</td>
                        <td>{{obj.distance_uom_id.1.}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">เลขตัวถังรถ</td>
                        <td>{{obj.no_car_tank}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">รูปเบรค</td>
						<td>
                            {{#if obj.break_image}}
                                <img src="/static/db/inspect/files/{{obj.break_image}}" border="0" width="50">
                            {{else}}
                                <img src="/static/inspect/img/no-image.png" border="0" width="50">
                            {{/if}}
                        </td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">ลักษณะรถ</td>
                        <td>{{obj.kind_car}}</td>
					</tr>
					<tr>
						<td width="70%" class="label-view text-right">สีรถ</td>
                        <td>{{obj.colr_car}}</td>
					</tr>
				
					<tr>
						<td width="70%" class="label-view text-right">ขนาดสัดส่วนของรถ</td>
                        <td>{{obj.car_proportion}}</td>
						
					</tr>
				
					<tr>
						<td width="70%" class="label-view text-right">ที่นั่งและจำนวนรถที่นั่ง</td>
                        <td>{{obj.no_sit}}</td>
					</tr>
                {{/if}}				
			</tbody>	
		</table>   

    </div>

  </section>



	 
	 
 	

	  
</body></html>
