<div class="navbar navbar-inverse nf-navbar" style="margin-bottom:0">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <!--<img src="/static/img/menu_icon.png"/>  Netforce-->
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="page-header nf-page-header">
        <h1>Forgot Password</h1>
    </div>
    <div class="row" {{#unless context.data.show_dbs}}style="display:none"{{/unless}}>
        <div class="col-sm-2">
            {{view "field" name="db_name" size="medium" selection="get_databases" context=context}}
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label"></label>
                <div>
                <!--<a href="#name=manage_db" tabindex="-1"><i class="icon-arrow-right"></i> Manage databases</a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row col-sm-4">
        {{view "field" name="show_dbs" context=context invisible="1"}}
        {{view "flash" context=context}}
        {{#view "form" context=context}}
            {{view "field" name="email" context=context}}
            <div>
                {{view "button" string="Reset password" type="primary" method="send_email"  method_options="nosave=1" context=context}}
                {{view "button" string="Cancel" action="login" context=context}}
            </div>
        {{/view}}
        <div style="margin-top:30px">
            <a href="#name=login"><i class="icon-arrow-left"></i> {{t 'Back to login'}}</a>
        </div>
    </div>
</div>
