<div class="nf-header">
    <div class="container">
        <div>
            <ul class="nf-user-menu">
                <li>        
                    {{#view "link" action="user_pref" context=context}}{{context.user_name}}{{/view}}
                </li>   
                <li>        
                    {{view "msg_bar" context=context}}
                </li>   
                <li>  
                    <a href="/ui#name=logout">{{t "Logout"}}</a>
                </li>       
                <li class="hidden-xs">        
                    <a href="http://help.netforce.com/">{{t "Help"}}</a>
                </li>    
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="white-space:nowrap"> {{! IE8 }}
                        {{#unless context.locale}}
                            <img src="/static/img/flag_uk_16.png"/> English
                        {{/unless}}
                        {{#if context.locale}}
                            <img src="/static/img/{{cur_lang_flag}}"/> {{cur_lang_name}} 
                        {{/if}}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {{#each active_langs context=context}}
                            {{view "item" string=name image=flag action=action action_options=action_options context=context}}
                        {{/each}}
                    </ul>   
                </li>   
            </ul>   
            <div class="nf-version">
                {{version}}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="nf-company-menu">
            {{#view "link" action="select_company" context=context}}{{context.company_name}}{{/view}}
        </div>
        <div class="clearfix"></div>
        <div class="navbar navbar-inverse nf-navbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nf-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <!--<img src="{{icon_url}}"/> {{t title}}-->
                </a>
            </div>
            <div class="collapse navbar-collapse" id="nf-navbar-collapse">

                <ul class="nav navbar-nav nav-sub">
                    {{#each menu_items context=context}}
                        {{#if submenu_items}}
                            {{#view "item" string=string perm=perm perm_check_admin=perm_check_admin pkg=pkg dropdown=1 context=context}}
                                {{#each ../submenu_items context=context}}
                                    {{#ifeq type "item"}}
                                        {{view "item" string=string action=action action_options=action_options perm=perm perm_check_admin=perm_check_admin pkg=pkg url=url color=color context=context}}
                                    {{/ifeq}}
                                    {{#ifeq type "divider"}}
                                        <li class="divider"></li>
                                    {{/ifeq}}
                                    {{#ifeq type "header"}}
                                        <li class="dropdown-header">{{t string}}</li>
                                    {{/ifeq}}
                                {{/each}}
                            {{/view}}
                        {{else}}
                            {{view "item" string=string action=action action_options=action_options perm=perm perm_check_admin=perm_check_admin pkg=pkg url=url color=color icon=icon context=context}}
                        {{/if}}
                    {{/each}}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {{#view "item" string="Main Menu" icon="home" dropdown="1" context=context}}
                        {{#each ../mainmenu_items context=context}}
                            {{view "item" string=string action=action url=url color=color perm=perm perm_check_admin=perm_check_admin pkg=pkg disabled=disabled context=context}}
                        {{/each}}
                    {{/view}}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    {{{context.content}}}
</div>
{{#if options.show_feedback}}
    {{view "feedback" context=context}}
{{/if}}
